/*
	Main CSS
 	Main Theme Color: #38b49d
*/

 /* -------------------------------------------------------------- 
 	 Reset
  -------------------------------------------------------------- */
  ul , footer p , li a ,  p , span , blockquote, td , tr , th {
			font-family: Verdana, Geneva, sans-serif;
			font-weight: 200;
			color: #636467;
			font-size: 16px;
	}
	
  .light-font , blockquote {
    color: #c1c0c0;
  }
  
	a:focus , a:active {
		outline: none !important;
    text-decoration: none !important;
	}

  a {
    transition: background-color 0.3s;
  }

 	h1 , h1 a , h1 span ,
	h2 , h2 a , h2 span , 
	h3 , h3 a , h3 span {
		color: #3c3c3c;
		font-family: Verdana, Geneva, sans-serif;
		font-weight: 500;
		text-decoration: none;
		padding: 0px;
		margin-top: 0px;
		line-height: 100%;
	}

	h1 , h1 a {
		font-size: 36px !important;
		margin-left: 0%;
		margin-top: 1%;
		text-align: center;
	}
	
	h2 , h2 a {
		font-size: 24px !important;
	}
	
	h3 , h3 a {
		font-size: 18px !important;
	}

 /* -------------------------------------------------------------- 
  Main Styles
  -------------------------------------------------------------- */

	a:hover {
		text-decoration: none;
	}

  /* Main buttons color */
  .goToLink a {
     background-color: #38b49d;
  }

  /*
    button hover color
  */
  .goToLink a:hover {
    background-color: #dadada;
    border-bottom-color: #c1c0c0;
  }

  /* social icons background color */
  .social-icons a {
    background-color: #dadada;
  }

	body {
		background: #f2f2f2;
	}

/* Post content */

section.apps {
  padding-top: 50px;
  padding-bottom: 45px;
  
}

section.apps.single-apps-page {
  padding-top: 30px;

}

section.apps > .container > .row >  .single-post {
  margin-bottom: 100px;
  clear: both;
  float: left;
  width: 100%;
}

section.apps > .container > .row > .single-post:last-child {
  margin-bottom: 0px;
}


/* Post Image */
section.apps .single-post > .post-image {
    border-radius: 4px;
    overflow: hidden;
}

/* Post content */

section.apps .single-post > .post-content .post-inner-content {float: left;
clear: both;
width: 76%;
padding-left: 8%;
padding-right: 8%;
margin-left: 4%;
padding-top: 45px;
padding-bottom: 45px;
background: #fff;
border-right: 1px solid #E9E9E9;
border-left: 1px solid #E9E9E9;
border-bottom: 1px solid #E9E9E9;
border-radius: 0 0 6px 6px;

-webkit-border-radius: 0 0 6px 6px;}


.single-post .post-inner-content .main-content p , 
.single-post .post-inner-content .main-content a,
.single-post .post-inner-content .main-content span,
.single-post .post-inner-content .main-content blockquote , .apps.single-page .post-inner-content p ,
.apps.single-page .post-inner-content span, .apps.single-page .post-inner-content blockquote , .apps.single-page .post-inner-content ul li {
  line-height: 26px;
}

.single-post h2.post-header {
  width: 100%;
  text-align: center;
  margin-bottom: 26px;
}

.single-post .post-meta {
  width: 100%;
  text-align: center;
  margin-bottom: 26px;
}

.single-post .post-meta span {
  color: #c1c0c0;
  padding-left: 25px;
  margin-right: 30px;
  font-size: 14px;

}

.goToLink {
  clear: both;
  width: 100%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}

.goToLink a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 18px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
 
}

.goToLink a:hover {
    color: #fff !important;
}

/*
    post content
*/
span.highlight {
  color: #fff;
}


/* -------------------------------------------------------------- 
 Footer
-------------------------------------------------------------- */
#copyright, footer {
  text-align: center;
}

footer .copyrights {
  margin-top: 10px;
  clear: both;
  width: 100%;
  margin-bottom: 30px;
  /*margin-left: 5%;*/
}

footer .social-icons {
  margin-top: 0px;
  width: 100%;
  margin-bottom: 35px;
}

footer .social-icons a {
  margin-bottom: 10px;
}

.social-icons {
  float: left;
  clear: both;
  text-align: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  transition: background-color 0.5s;
}

.social-icons a:last-child {
  margin-right: 0px;
}

.social-icons a.facebook {
  background-image: url(../images/facebook.png);
}
.social-icons a.twitter {
  background-image: url(../images/twitter.png);
}
.social-icons a.linkedin {
  background-image: url(../images/linkedin.png);
}
.social-icons a.youtube {
  background-image: url(../images/youtube.png);
}
.social-icons a.dribbble {
  background-image: url(../images/dribbble.png);
}
.social-icons a.flickr {
  background-image: url(../images/flickr.png);
}
.social-icons a.pinterest {
  background-image: url(../images/pinterest.png);
}
.social-icons a.vimeo {
  background-image: url(../images/vimeo.png);
}
.social-icons a.tumblr {
  background-image: url(../images/tumblr.png);
}
.social-icons a.skype {
  background-image: url(../images/skype.png);
}

.social-icons a.facebook:hover {
	background-color: #4265b9;
}

.social-icons a.twitter:hover {
	background-color: #35506b;
}

.social-icons a.dribbble:hover {
	background-color: #ea4c89;
}

.social-icons a.flickr:hover {
	background-color: #ff0084;
}

.social-icons a.skype:hover {
	background-color: #0bbff2;
}

.social-icons a.pinterest:hover {
	background-color: #c31e26;
}

.social-icons a.linkedin:hover {
 background-color: #005987;
}
.social-icons a.vimeo:hover {
  background-color: #1bb6ec;
}
.social-icons a.tumblr:hover {
  background-color: #9ae4e8;
}

.social-icons a.youtube:hover {
  background-color: #df3333;
}